<!DOCTYPE html>
<html>
<head>
	<title>This is search data page</title>
	<style type="text/css">
		body
		{
			background-image: url("assets/galaxy.jpg");
			background-size: cover;
			
		}
	</style>
</head>
<body>
		<form action="search_data.ejs" method="POST">
		<input type="text" name="cat" placeholder="Search category">
		<input type="submit" name="submit" value="submit">
		</form>
</body>
</html>